<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timer To Go Free.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Timer To Go.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TimerToGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB844D76168A859600D6DE31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8FA14B1669993600FCC322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8FA16C1669993600FCC322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB98CDBA1692D9F4000DD0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
